<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{fav.name || 'No'}} {{fav.surname || 'Name'}}">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar item-button-right">
        <img ng-src="{{fav.image}}">
        <h2>{{fav.name || 'No'}} {{fav.surname || 'Name'}}</h2>
        <p>{{fav.lastUpdate || 'No Updates for this rider'}}</p>
        <button class="button button-assertive button-clear" ng-click="following ? unfollow() : follow()"><i class="icon {{following ? 'ion-ios-star' : 'ion-ios-star-outline'}}"></i></button>
      </div>
      <div class="list card"> 
        <div class="item item-button-right">{{route.title}}<button ng-click="refreshRoutes();" class="button button-clear button-positive"><i class="icon ion-ios-refresh"></i></button></div>
        <div class="item item-image" data-tap-disabled="true">
          <ion-spinner ng-hide="loaded" icon="lines" style="position: absolute; top:100px; z-index: 1;"></ion-spinner> 
          <leaflet id="map" markers="route.checkpoints" defaults="defaults" paths="[route]" width="100%" height="250px"></leaflet>
        </div>
      </div>

      <br/>
      <div class="item item-divider">
        Rank per checkpoint
      </div>
      <div class="item item-image" style="padding:5px;">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick"></canvas> 
      </div>

    </div>
    <div class="list card">

      <div class="item item-divider">
        <h2>Previous Races</h2>
      </div>

      <div class="item item-avatar" ng-repeat="race in races">
        <img src="race.icon">
        {{race.title}}
        <span class="badge badge-assertive">{{race.rank}}</span>
      </div>

    </div>
  </ion-content>
</ion-view>
