<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{rider.name}} {{rider.surname}}">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar item-button-right">
        <img ng-src="{{rider.image || './img/icons/user.png'}}">
        <h2>{{rider.name || 'No'}} {{rider.surname || 'Name'}}</h2>
        <p><b>Club:</b> {{rider.club || 'No club specified'}}</p>
        <p><b>Sponsor:</b> {{rider.sponsor || 'No sponsor specified'}}</p>
        <button class="button button-assertive button-clear" ng-click="following ? unfollow() : follow()"><i class="icon {{following ? 'ion-ios-star' : 'ion-ios-star-outline'}}"></i></button>
      </div>
      
      <div class="item item-divider">
        Rank per checkpoint<br/>
        <small>{{graph.route.title}}</small>
      </div>
      <div class="item item-image" style="padding:5px;">
        <canvas id="line" class="chart chart-line" chart-data="[graph.data]" chart-labels="graph.labels" chart-legend="false" chart-series="[]" chart-click="onClick"></canvas> 
      </div>
      <a class="item item-icon-left assertive" href="#/tab/dash/0/0/{{graph.route.id}}">
        <i class="icon ion-stats-bars"></i>
      Rankings
      </a>

    </div>
    <div class="list card">

      <div class="item item-divider">
        <h2>Previous Routes</h2>
      </div>

      <div class="item item-avatar" ng-repeat="route in rider.routes" ng-click="getRouteRank(route.id)">
        <img ng-src="{{route.icon || './img/icons/barchart.png'}}">
        {{route.title}}
        <span class="badge badge-assertive">{{route.rank}}</span>
      </div>

    </div>
  </ion-content>
</ion-view>
