<style>
    .legend {
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: rgba(255,255,255, 0.9);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        padding: 6px 8px;
        width: 180px;
        line-height: 18px;
        color: #555;
    }
    .legend i {
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
</style>
<ion-view view-title="{{series.title}}">
  <ion-content class="padding">
    
  <div class="list card">
    <div class="item item-avatar">
      <img ng-src="{{series.image}}">
      <h2>{{series.title}}</h2>
      <p>{{series.desc}}</p>
    </div>
  </div>
    
  <div class="list card "> 
    <div class="item item-balanced item-button-right">{{currentRace.title}}<button ng-click="refreshRoutes();" class="button button-clear button-dark"><i class="icon ion-ios-refresh"></i></button></div>
    <div class="item item-image" data-tap-disabled="true">
      <leaflet id="dashMap" markers="checkpoints" center="center" defaults="defaults" legend="legend" paths="routes" width="100%" height="250px"></leaflet>
    </div>
    <a class="item item-icon-left positive" href="#/tab/dash/{{series.id}}/{{currentRace.id}}">
      <i class="icon ion-merge"></i>
    Routes
    </a>
  </div>

  <div class="list card" ng-repeat="race in series.races | orderBy : '-id'" ng-hide="$first"> 
    <div class="item item-divider item-dark">{{race.date}} - {{race.title}}</div>
    <a class="item item-icon-left positive" href="#/tab/dash/{{series.id}}/{{race.id}}">
      <i class="icon ion-merge"></i>
    Routes
    </a>
  </div>
    
  </ion-content>
</ion-view>
