<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Actions</div>
      <div class="item item-body">
        <div>
          <button class="button button-block button-positive" ng-click="scanBarcode()">
            New Transaction
          </button>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Today's Claims</div>
      <div class="item item-body">
        <div>
          Total of <b>5</b> claims today. 
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Today's Transactions</div>
      <div class="item item-body">
        <div>
          Total of <b>10</b> transactions today.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Top 5</div>
      <div class="item item-body">
        <div>
          <ol>
            <li>John Dough | R102.00</li>
            <li>Peter Peterson | R98.00</li>
            <li>Cicil Jones | R76.00</li>
            <li>Zuma Zumatzin | R23.00</li>
          </ol>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
